@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "ClashDisplay";
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url(../src/assets/fonts/ClashDisplay-Bold.woff2) format("woff2");
  }
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../src/assets/fonts/Montserrat-Black.ttf) format("ttf");
  }
}
